<!DOCTYPE html>
<html>
    <head>
        <title>
            Bye Bye !
        </title>
    </head>
    <body>
    Bonjour je viens de la {{ pays }} et je suis d'origine {{ origine }} !
    </body>
</html>